# PORT and DATABASE
DATABASE_URL="your-database-url"
PORT="your-port"
FRONTEND_URL="your-front-end-url"
CALLBACK_URL_HOST="your-backend-url"

# JWT
JWT_SECRET="your-key"

#GOOGLE API
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret