# PORT and DATABASE
DATABASE_URL="your-database-url"
PORT="your-port"
FRONTEND_URL="your-front-end-url"
CALLBACK_URL_HOST="your-backend-url"

# JWT
JWT_SECRET="your-key"

# AWS S3
AWS_REGION="ap-southeast-2"
AWS_S3_BUCKET="your-bucket-name"
AWS_S3_PUBLIC_BASE_URL="https://your-bucket-name.s3.ap-southeast-2.amazonaws.com"
AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"
#GOOGLE API
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
